@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

 .fixed-sidebar{
  /* border:1px solid red; */
  width:30%;
  position: fixed;
  left:0px;
  top:0px;
   margin-right: 100px; 
   margin-top: 170px; 
} 
  
.heading{
  /* border:1px solid red; */
  margin-bottom: 50px;
  margin-left: -40px;
}
.Card {
  /* border:1px solid green; */
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 15px;
  margin-left: 500px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  margin-top: 120px;
  margin:auto;
  font-family: "Lato", sans-serif;
  padding: 5px;
  /* max-width: 1000px; */
}
.Card div {
  line-height: 14px;
}
.flextext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  line-height: auto;
  height: 80px;
}
.flextext div:first-child{
 line-height: 20px;
}
.flextext div:nth-child(2) {
  font-size: 25px;
  margin-top: 15px;
}
.icon{
  row-gap: 15px;
}
.price{
  margin-right: 10px;
}

.Card div img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main{
    padding: 10%;
  }
  .heading{
    margin-left: -70px;
 }
 .fixed-sidebar{
  margin-top: 120px;
 }
  
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: auto;
    gap: 25px;
    font-family: "Lato", sans-serif;
    padding: 2px;
    max-width: 320px;
    margin-left: 320px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 500px) {
  
  .main{
    display:flex;
    flex-direction:column;
    padding: 10px;
 
  }
  .fixed-sidebar{
    width:30%;
    padding: 2px;
    margin-top: 150px;
  }
  
  .Card {
    width:70%;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: auto;
    font-family: "Lato", sans-serif;
    margin-left: 100px;
    margin-top: 50px;
  }
}