.select{
    width:100%;
    padding:10px 60px;
}
.select select{
    width:100px;
}
.popular select {
    width: 100px;
    padding: 10px;
  }
  .topsidebar{
    border:1px solid red;
    display:flex;
    width:500px;
    align-items: center;
    margin:auto;
    justify-content: space-between;
  }
  .sort{
    margin-right: 20px;
  }